*{
  padding: 0;
  margin: 0;
}
.main{
  background-image:url("assets/images/bg.jpg");
  background-position: center;
  height: 80vh;
  position: relative;
}
.main .box{
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  position: absolute;
  top: 0;
  background-color: black;
}
nav{
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}